:root {
  --primary-text-color: #000000;
  --secondary-text-color: #757575;
  --page-accent: #2196f3;
  --primary-bg-color: #ececec;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

/* current page nav accent */
.main-nav .link.current {
  color: var(--page-accent);
}

/* logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.primari-logo {
  color: var(--page-accent);
}

/* hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}

.button {
  background-color: var(--page-accent);
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* Nav main page */
.main-nav .link,
.contact-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav .link:hover,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--page-accent);
}

/* main section on main page */
.section .section-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.section .text {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.section .example-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
}

/* team section */
.team-section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  line-height: 1.7;
}

.team-section .headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.text-profession {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* adress */
.address {
  font-style: normal;
}

.address .link {
  color: #ffffff;
}

.address .link.primary {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address .link.secondary {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
