:root {
  --primary-text-color: #000000;
  --secondary-text-color: #757575;
  --main-page-colorize: #2196f3;
  --primary-bg-color: #ececec;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;

  font-family: Roboto, sans-serif;
}

/* current page nav accent */
.main-nav .link.current {
  color: var(--main-page-colorize);
}

/* logo */
.logo {
  color: var(--primary-text-color);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.primari-logo {
  color: var(--main-page-colorize);
}

/* Nav */
.main-nav .link,
.contact-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav .link:hover,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--main-page-colorize);
}

/* main */
.section-title {
  color: var(--primary-text-color);
}

/* hero */
.hero-title {
  color: var(--primary-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}

.button {
  background-color: var(--main-page-colorize);
  color: var(--primary-bg-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* adress */
address {
  font-style: normal;
}
